#### This Jupyter notebook is used to create Finance, Supplychain and other Tiger Graph Analytics sample data

sample data created in this notebook does not use any properitery/license data, however, most of the examples/samples generated use all availabel free data like UNSPSC, GTIN, ITEM and VENDOR MASTER etc.

In [7]:
using DataFrames, CSV, Dates

In [6]:
galaxy = DataFrame(
    unit = "Sun",
    star = true,
    gas=true,
    dust=true,
    breathableAir=false;
    water=false,
    land=false,
    sky=false
    )
push!(galaxy, ["Earth", false, true, true, true, true, true, true])
push!(galaxy, ["Jupiter", false, true, true, false, false, true, true])
push!(galaxy, ["Saturn", false, true, true, false, false, true, true])
push!(galaxy, ["Mars", false, true, true, false, false, true, true])
push!(galaxy, ["Mercury", false, true, true, false, false, true, true])
push!(galaxy, ["Uranus", false, true, true, false, false, true, true])
push!(galaxy, ["Venus", false, true, true, false, false, true, true])

CSV.write("galaxy.csv", galaxy)

"galaxy.csv"

In [19]:
species = DataFrame(
    unit = "Dinosaur",
    intelligence = true,
    crawl = 7,
    swim = 0,
    walk = 7,
    runningSpeed = 7,
    eat = 9,
    drink = 3,
    sleep = 6
    )
push!(species, ["Mammoth", true, 9, 3, 6, 5, 8, 2, 8])
push!(species, ["Birds", true, 0, 0, 0, 9, 1, 1, 2])
push!(species, ["BigFoot", true, 7, 7, 7, 7, 8, 2, 8])
push!(species, ["Cockroach", false, 0, 0, 0, 10, 1, 1, 1])
push!(species, ["Human", false, 9, 1, 1, 1, 9, 10, 9])

CSV.write("species.csv", species)

"species.csv"

In [18]:
itemmaster = DataFrame(
    unit = ["ToiletPaper",
    "Vacuum","Bucket","Rags or chamois mop","dishwashing soap","All-purpose cleaner","Scrubbing sponges","Baking soda","White vinegar","lemons"
    ],
    drug = false,
    category = "Cleaning Supplies",
    essentials = true,
    luxury = false
    )
push!(itemmaster, ["Adenosine",true,"Rx",true,false])
push!(itemmaster, ["Atropine ",true,"Rx",true,false])
push!(itemmaster, ["Calcium gluconate",true,"Rx",true,false])
push!(itemmaster, ["Dextrose 10%",true,"Rx",true,false])
push!(itemmaster, ["Dopamine",true,"Rx",true,false])
push!(itemmaster, ["Epinephrine 1 : 10,000",true,"Rx",true,false])
push!(itemmaster, ["Fentanyl",true,"Rx",true,false])
push!(itemmaster, ["Hydralazine",true,"Rx",true,false])
push!(itemmaster, ["Lorazepam",true,"Rx",true,false])
push!(itemmaster, ["Morphine",true,"Rx",true,false])
push!(itemmaster, ["Naloxone",true,"Rx",true,false])
push!(itemmaster, ["Phenobarbital",true,"Rx",true,false])
push!(itemmaster, ["Sodium Bicarbonate",true,"Rx",true,false])
push!(itemmaster, ["Vecuronium",true,"Rx",true,false])
push!(itemmaster, ["Volume Expanders RBCs, NS",true,"Rx",true,false])

push!(itemmaster, ["sodium nitrite",true,"Rx",true,false])
push!(itemmaster, ["sodium nitroprusside",true,"Rx",true,false])
push!(itemmaster, ["sodium thiosulfate",true,"Rx",true,false])
push!(itemmaster, ["sodium valproate",true,"Rx",true,false])
push!(itemmaster, ["spectinomycin",true,"Rx",true,false])
push!(itemmaster, ["spironolactone",true,"Rx",true,false])
push!(itemmaster, ["stavudine",true,"Rx",true,false])
push!(itemmaster, ["streptokinase",true,"Rx",true,false])
push!(itemmaster, ["streptomycin",true,"Rx",true,false])
push!(itemmaster, ["sulfadiazine",true,"Rx",true,false])
push!(itemmaster, ["sulfadoxine",true,"Rx",true,false])
push!(itemmaster, ["sulfadoxine + pyrimethamine",true,"Rx",true,false])
push!(itemmaster, ["sulfamethoxazole",true,"Rx",true,false])
push!(itemmaster, ["trimethoprim",true,"Rx",true,false])
push!(itemmaster, ["tamoxifen",true,"Rx",true,false])
push!(itemmaster, ["testosterone",true,"Rx",true,false])

CSV.write("itemmaster.csv", itemmaster)

"itemmaster.csv"

In [7]:
livein = DataFrame(
    From = "Human",
    To = "Earth",
    living_since = Date("1000-01-01", dateformat"y-m-d")
    )
push!(livein, ["Mammoth", "Earth", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["Birds", "Earth", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["BigFoot", "Earth", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["Cockroach", "Earth", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["Human", "Earth", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["Dinosaur", "Earth", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["Dinosaur", "Venus", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["Dinosaur", "Mercury", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["Cockroaches", "Mars", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["Cockroaches", "Jupiter", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["Cockroaches", "Saturn", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["Cockroaches", "Mercury", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["Cockroaches", "Uranus", Date("0050-01-01", dateformat"y-m-d")])
push!(livein, ["Cockroaches", "Venus", Date("0050-01-01", dateformat"y-m-d")])

CSV.write("livein.csv", livein)

"livein.csv"

In [8]:
behavior = DataFrame(
    From = "Human",
    To = "Mammoth",
    like_date = Date("1000-01-01", dateformat"y-m-d")
    )
push!(behavior, ["Human", "Birds", Date("0050-01-01", dateformat"y-m-d")])
push!(behavior, ["Human", "Human", Date("0050-01-01", dateformat"y-m-d")])

CSV.write("behavior.csv", behavior)

"behavior.csv"

In [9]:
give_food = DataFrame(
    From = "Earth",
    To = "Human"
    )
push!(give_food, ["Earth", "Birds"])
push!(give_food, ["Earth", "Cockroaches"])

CSV.write("give_food.csv", give_food)

"give_food.csv"

In [10]:
essentials = DataFrame(
    From = "Human",
    To = "Birds"
    )
push!(essentials, ["Human", "Cockroaches"])

CSV.write("essentials.csv", essentials)

"essentials.csv"

In [11]:

    used_by = DataFrame(
        From = "ToiletPaper",
        To = "Human"
        )
    push!(used_by, ["Baking soda", "Human"])
    push!(used_by, ["Dopamine", "Human"])
    push!(used_by, ["Morphine", "Human"])
    push!(used_by, ["All-purpose cleaner", "Human"])

    CSV.write("usedby.csv", used_by)

"usedby.csv"

## P2P Finance Graph Sample Data

In [8]:
accountsDF = DataFrame(
    ENTITY = "Apple Inc.",
    AS_OF_DATE=Date("1900-01-01", dateformat"y-m-d"),
    ID = 11000:1000:45000,
    CLASSIFICATION=repeat([
        "OPERATING_EXPENSES","NON-OPERATING_EXPENSES", "ASSETS","LIABILITIES","NET_WORTH","STATISTICS","REVENUE"
                ], inner=5),
    CATEGORY=[
        "Travel","Payroll","non-Payroll","Allowance","Cash",
        "Facility","Supply","Services","Investment","Misc.",
        "Depreciation","Gain","Service","Retired","Fault.",
        "Receipt","Accrual","Return","Credit","ROI",
        "Cash","Funds","Invest","Transfer","Roll-over",
        "FTE","Members","Non_Members","Temp","Contractors",
        "Sales","Merchant","Service","Consulting","Subscriptions"],
    STATUS="A",
    DESCR=repeat([
    "operating expenses","non-operating expenses","assets","liability","net-worth","stats","revenue"], inner=5),
    ACCOUNT_TYPE=repeat(["E","E","A","L","N","S","R"],inner=5));

    # DEPARTMENT Chartfield
deptDF = DataFrame(
    AS_OF_DATE=Date("2000-01-01", dateformat"y-m-d"), 
    ID = 1100:100:1500,
    CLASSIFICATION=["SALES","HR", "IT","BUSINESS","OTHERS"],
    CATEGORY=["sales","human_resource","IT_Staff","business","others"],
    STATUS="A",
    DESCR=[
    "Sales & Marketing","Human Resource","Infomration Technology","Business leaders","other temp"
        ],
    DEPT_TYPE=["S","H","I","B","O"]);

# LOCATION Chartfield
locationDF = DataFrame(
    AS_OF_DATE=Date("2000-01-01", dateformat"y-m-d"), 
    ID = 11:1:22,
    CLASSIFICATION=repeat([
        "Region A","Region B", "Region C"], inner=4),
    CATEGORY=repeat([
        "Region A","Region B", "Region C"], inner=4),
    STATUS="A",
    DESCR=[
"Boston","New York","Philadelphia","Cleveland","Richmond",
"Atlanta","Chicago","St. Louis","Minneapolis","Kansas City",
"Dallas","San Francisco"],
    LOC_TYPE="Physical");
    # CSV.write("accounts.csv", accountsDF)

    # creating Ledger
ledgerDF = DataFrame(
    LEDGER = String[], FISCAL_YEAR = Int[], PERIOD = Int[], ORGID = String[],
    OPER_UNIT = String[], ACCOUNT = Int[], DEPT = Int[], LOCATION = Int[],
    POSTED_TOTAL = Float64[]
    );

# create 2020 Period 1-12 Actuals Ledger 
l = "Actuals";
fy = 2020;
for p = 1:12
for i = 1:10^5
push!(ledgerDF, (l, fy, p, "ABC Inc.", rand(locationDF.CATEGORY),
    rand(accountsDF.ID), rand(deptDF.ID), rand(locationDF.ID), rand()*10^8))
end
end

# create 2021 Period 1-4 Actuals Ledger 
l = "Actuals";
fy = 2021;
for p = 1:4
for i = 1:10^5
push!(ledgerDF, (l, fy, p, "ABC Inc.", rand(locationDF.CATEGORY),
    rand(accountsDF.ID), rand(deptDF.ID), rand(locationDF.ID), rand()*10^8))
end
end

# create 2021 Period 1-4 Budget Ledger 
l = "Budget";
fy = 2021;
for p = 1:12
for i = 1:10^5
push!(ledgerDF, (l, fy, p, "ABC Inc.", rand(locationDF.CATEGORY),
    rand(accountsDF.ID), rand(deptDF.ID), rand(locationDF.ID), rand()*10^8))
end
end

# here is ~3 million rows ledger dataframe
CSV.write("accounts.csv", accountsDF)
CSV.write("locations.csv", locationDF)
CSV.write("department.csv", deptDF)
CSV.write("ledger.csv", ledgerDF[1:1000,:])

"accounts.csv"

In [9]:
pwd()

"/home/ubuntu/amit/WIP/P2P.ai.bkp/docs/sampleData"

## P2P Supply Chain Graph Sample Data